/.vs
/CMakeFiles
/helloworld.dir
/helloworld_autogen
/cmake_install.cmake
/CMakeCache.txt
/build
/analogclock.build
/analogclock.xcodeproj
/analogclock.sln
/*.vcxproj
/*.vcxproj.filters
/*.vcxproj.user
/Debug
/Release
/x64
